<h1>Browse the Ledger</h1>
<p>Here you can browse all ShintoCoin transactions.</p>
<table>
  <tr>
    <th>ShintoCoin Ledger</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Action</th>
    <th>Amount</th>
    <th>Value</th>
    <th></th>
  </tr>
  <div class="record"  *ngFor="let row of ledger">
    <tr>
      <td>{{ row.action }}</td>
      <td>{{ row.amount }}</td>
      <td>{{ row.value }}</td>
      <td><button [routerLink]="['/transactions/' + row.id]">Details</button></td>
    </tr>
  </div>
</table>

 <!-- This view should retrieve all transactions and present them here. 

  ShintoCoin transactions should be saved in the Service as objects, give each new transaction a unique id, you can do this simply by ranodmizing a number from 1 - 9999 and setting that as the transaction's id.

  Transaction [Details] button should redirect us to that specific transaction's details page, showing us the details of the transaction. e.g. /transaction/1 may be the route for the first randomized saved transaction.  -->
